body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container-data-student {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.data-student {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.data-student h2 {
    margin: 0 0 10px 0;
    font-size: 2em;
    color: #333;
}


.data-student p, li{
    font-size: 1.5em;
    margin: 0;
    color: #555;
}


.data-student img {
    width: 300px;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.next-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}